<%- include('partials/header.ejs') %>


<main class="container">
    <ul class="serie--list">
    <div class="serie">
        <% for (let serie of listOfSeries) { %>
        
        <article class="series">
            <img src="/content/img/series/<%= serie.img %>" alt="<%= serie.alt %>">
                <div class="series--title">
                    <h4><%= serie.title %></h4> 
                    <p> <%- serie.excerpt %></p>
                </div>    
                        <div class="series--fiche">
                            <a class="fiche--serie" href="/ficheserie/<%= serie.id  %>">Lire la fiche de cette série</a>
                        </div>
        </article>
        
        <% } %>
    </div>
    </ul>
</main>
</body>
</html>